// .babelrc
{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "transform-flow-strip-types",
    "add-module-exports",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-export-extensions",
    "@babel/plugin-transform-modules-commonjs"
  ]
}