{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-syntax-export-default-from", {"legacy": true}],
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", { "legacy": true }],
    ["@babel/plugin-proposal-object-rest-spread"]
  ]
}